@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@media (max-width: 760px) {
    * {
        margin: 0px;
    }

    html {
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    body {
        background-color: #001021;
        font-size: 1rem;
    }

    .NAV {
        margin: 0 0rem;
        background-color: #001021;
        width: 100%;
        height: 6rem;
        border-bottom: 0.1rem solid #11B5E4;
    }

    .Nav-container {
        margin: 0 0rem;
        width: 100%;
    }

    .Navbar {
        margin: 0 0rem;
        display: flex;
        justify-content: space-around;
    }

    .Nav-item {
        margin-top: 2.5rem;
        list-style-type: none;
        font-size: 1.7rem;
        color: #11B5E4;
    }

    #item1 i {
        margin-top: -0.5rem;
        margin-left: -3rem;
        color: #1481BA;
        font-size: 2.5rem;
        transition: all 0.5s;
    }

    #item1 i:hover {
        filter: drop-shadow(0px 0px 5px #11b5e4);
        color: #11B5E4;
        font-size: 2.01rem;
    }










    .sidebar {
        position: fixed;
        top: 0;
        left: -600px;
        width: 400px;
        height: 100%;
        background-color: #001021;
        color: aliceblue;
        border-right: 0.1rem solid #11B5E4;
        transition: left 1s ease;
        z-index: 1000;
    }

    .Side-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Side-container p {
        text-align: left;
        width: 15rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
        color: #1481BA;
    }

    .Side-container button {
        background-color: #001021;
        border: 0.3rem solid #1481BA;
        padding: 0.7rem 1rem;
        text-align: center;
        display: inline-block;
        color: aliceblue;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 1rem;
        margin-top: 5rem;
        margin-right: 3rem;
        cursor: pointer;
    }

    .Side-item {
        list-style-type: none;
        font-size: 1.5rem;
        color: #1481BA;
        margin-bottom: 3rem;
        transform: translateX(-1rem);
    }

    .Side-item a {
        font-size: 1.5rem;
        transform-origin: center;
        color: aliceblue;
        transition: all 1s;
    }

    .Side-item a:hover {
        transform: translateX(2rem);
        color: #11B5E4;
        transform: scale(1.01);
    }

    .sidebar.open {
        left: 0;
    }





    #section1 {
        background-color: #001021;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section1 h2 {
        color: #1481BA;
        font-family: 'Arial';
        font-size: 2.2rem;
        text-align: center;
    }

    #section1 h1 {
        margin-top: 0.5rem;
        color: aliceblue;
        font-size: 3.1rem;
        text-align: center;
    }

    #section1 p {
        color: rgba(240, 248, 255, 0.7);
        margin-top: 0.8rem;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    #Saiba {
        margin-bottom: 2rem;
        background-color: #ffffff00;
        border: 0.3rem solid #1481BA;
        color: aliceblue;
        padding: 1.3rem 3rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 1s;
    }

    #Saiba:hover {
        transform: scale(1.05);
        border: 0.3rem solid #11B5E4;
        filter: drop-shadow(0px 0px 20px #1480ba63);
    }

    #Saiba::after {
        display: inline-block;
        content: "\f107";
        font-family: fontAwesome;
        font-size: 1.2rem;
        line-height: inherit;
        text-align: center;
        position: relative;
        left: 1.2rem;
    }

    .Img-wrapper {
        transform: translateY(28rem);
        display: flex;
        flex-direction: row;
        /* empilha os ícones verticalmente */
        gap: 4rem;
    }

    .img1 i,
    .img2 i,
    .img3 i {
        cursor: pointer;
        font-size: 3.3rem;
        color: aliceblue;
        transition: all 0.5s;
    }

    .img1 i:hover,
    .img2 i:hover,
    .img3 i:hover {
        font-size: 3.31rem;
        color: #11B5E4;
        filter: drop-shadow(0px 0px 10px #11b6e47c);
    }

    #section2 {
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 210vh;
    }

    .Sobre h1 {
        text-align: center;
        width: 100%;
        margin-top: 1.5rem;
        font-family: Arial;
        font-size: 2.5rem;
        color: #001021;
        margin-bottom: 3rem;
    }

    .Sobre h2 {
        text-align: center;
        margin-top: 3rem;
        font-family: Arial;
        font-size: 2.5rem;
        color: #1481BA;
        margin-bottom: 1.5rem;
    }

    .p-group {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .p-group p {
        width: 40rem;
        text-align: justify;
        font-size: 1.5rem;
        color: #001021;
    }

    .p-group img {
        width: 12rem;
        height: 12rem;
        border: 0.1rem solid #1481BA;
        border-radius: 50%;
    }

    .button-group {
        margin: 1rem;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .button-group a {
        width: 100%;
    }

    #EntreC {
        background-color: #ffffff00;
        border: 0.3rem solid #001021;
        color: #001021;
        width: 100%;
        padding: 1.3rem 3rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 1s;
    }

    #CurrV {
        background-color: #001021;
        border: 0.3rem solid #001021;
        color: aliceblue;
        padding: 1.3rem 3rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 1rem;
        cursor: pointer;
        margin-bottom: 8rem;
        transition: all 1s;
    }

    #Habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Habilidades h1 {
        font-size: 2.5rem;
        color: #1481BA;
        margin-bottom: 3rem;
    }

    #cards-container {
        margin: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .card-habilidade {
        border-bottom: 0.5rem solid #11B5E4;
        border-top-left-radius: 2rem;
        padding: 1.5rem;
        height: 9rem;
        min-height: 9rem;
        width: 10rem;
        text-align: center;
        display: inline-block;
        background-color: #001021;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        color: aliceblue;
    }

    .card-habilidade h2 {
        position: relative;
        top: -5.5rem;
        font-size: 1.7rem;
        margin: 0.25rem 0;

    }

    .card-habilidade p {
        position: relative;
        top: -5.5rem;
        font-size: 1.5rem;
        margin: 0;
    }

    .icone-habilidade i {
        font-size: 3rem;
        aspect-ratio: 1;
        color: aliceblue;
        transition: all 0.5s;
        display: block;
    }

    .icone-habilidade i:hover {
        font-size: 3.01rem;
        color: #11B5E4;
        filter: drop-shadow(0px 0px 10px #11b6e47c);
    }










    .informas h1 {
        font-family: 'Arial';
        font-weight: 600;
        margin: 0 0 0.5rem 0;
        font-size: 0.5rem;
        color: #001021;
    }

    .informas hr {
        width: 5rem;
        border: 0.15rem solid #1481BA;
        margin-bottom: 1rem;
    }

    .informas p {
        font-size: 0.1rem;
        color: #567ba3;
        margin: 0;
        text-align: justify;
        /* opcional: centraliza o texto horizontalmente */
    }

    .item-wrapper img {
        width: 10%;
        height: 10%;
        object-fit: cover;
        /* Preenche o container mantendo proporção */
        filter: brightness(0.6);
        transition: all 1s ease-out;

    }

    .section4-h1 {
        padding-top: 6rem;
        font-family: Arial;
        font-size: 0.6rem;
        color: #1481BA;
    }

    .section4-h2 {
        margin-top: 1rem;
        font-family: Arial;
        font-size: 0.5rem;
        color: #001021;
        padding-bottom: 2rem;
    }

    .section4-h3 {
        font-size: 0.3rem;
        color: #567ba3;
        padding-bottom: 6rem;
    }

    .h3-section5 {
        font-size: 0.5rem;
        color: #7997b8;
    }

    .service-cards p {
        width: 1rem;
        font-size: 0.2rem;
        text-align: center;
        font-weight: 500;
        color: #7997b8;
    }
}